<div class="footer">
    <p>If you have any questions or suggestions, please drop a line at jaijborkar@gmail.com </p>
    <p class="text-muted small mb-0">Copyright &copy; COVID Letters 2020</p>
    </div>
    </body>
    </html>
    