<div class="footer">
    <div class="container">

        	<div class="container ">
                    <div class="row">
                                <div class="col-md-2  text-center">
                                     <a href="/">Home </a>
                                </div>
                                <div class="col-md-2  text-center">
                                        <a href="/about">About </a>
                                </div>
                                <div class="col-md-2  text-center">
                                        <a href="/help">Help </a>
                                </div>
                                <div class="col-md-2  text-center">
                                           <a href="/team">Team </a>
                                </div>
                                <div class="col-md-2  text-center">
                                        <a href="/privacyPolicy">Privacy and Policy </a>
                                </div>
                                <div class="col-md-2  text-center">
                                           <a href="/#form  ">Write a Letter </a>
                                </div>
                                 
                    </div>



        <hr>
        <p>If you have any questions or suggestions, please drop a line to <a href="mailto:jaijborkar@gmail.com">Jaydeep Borkar</a> or <a href="mailto:vijapuresantoshgmail.com">Santosh Vijapure</a> </p>
        <p class="text-muted small mb-0">Copyright &copy; COVID Letters 2020</p>
    </div>
 </div>
 </body>
</html>
    
