<hr />

<form id="form" method="post" class="container" action="/new" >   
      
      <div class="form-group">
          <br>
      <!-- <label for="comment" class="ex4">Submit a letter!</label> -->
      <textarea class="form-control" placeholder="Write your letter here to spread love and positivity!"  required  rows="8" name="content" style="font-size: 1.3em !important ;" ></textarea>
      </div>
    <center>  <button type="submit" required  class=" text-center btn btn-dark btn-lg ex6">Submit</button> </center>

      </form>
      <br />

</div>
