<%- include ('./partials/header') %>
<div class="covor-screen">

<div class="jumbotron">
        <div class="">
                <div class="container">
                  <h2></h2>
                  <p  font-size="16">We are currently using <a href="https://www.heroku.com/" target="blank">Heroku</a>'s 
                free-tier for hosting, but we would soon need to switch to a <a href="https://www.heroku.com/pricing" target="blank">paid plan</a> to manage heavy traffic. 
            We would at least need $25 to purchase it. If you're interested in supporting, please reach out to us.</p>
                </div>
              </div>
</div>
</div>

 
<%- include ('./partials/footer') %>
