
<%- include ('./partials/header') %>


<div ><a href="http://s11.flagcounter.com/more/qWF"><img class="ex9 img img-responsive" src="https://s11.flagcounter.com/count2/qWF/bg_FFFFFF/txt_000000/border_CCCCCC/columns_8/maxflags_195/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a></div>

<div class="b"><h4>We all are in this together</h4></div>

<div class="a"><h2><b>Latest Letters</b></h2></div>


<!-- country letter count-->
<!--div class="sidenav">
<div class="ex7">Count of country-wise letters received</div>
<a><div class="flag flag-AF"></div> Afghanistan</a>
</div-->
  



<div class="container">
<div class="card-columns ex1">
<div class="card bg-light">
<ul class="list-group list-group-flush">
<li class="list-group-item">To:  </li>
<li class="list-group-item">From:  </li>
</ul>
<div class="card-body text-left">
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, 
        nisi lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor. Maecenas nisl est, 
        ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper 
        ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer 
        fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
</p>
<button onclick="myFunction()" id="myBtn">Read more</button>
<script>
function myFunction() {
var dots = document.getElementById("dots");
var moreText = document.getElementById("more");
var btnText = document.getElementById("myBtn");
          
            if (dots.style.display === "none") {
              dots.style.display = "inline";
              btnText.innerHTML = "Read more"; 
              moreText.style.display = "none";
            } else {
              dots.style.display = "none";
              btnText.innerHTML = "Read less"; 
              moreText.style.display = "inline";
            }
          }
</script>
</div>
</div>
<div class="card bg-light">
<ul class="list-group list-group-flush">
<li class="list-group-item">To:  </li>
<li class="list-group-item">From:  </li>
</ul>
<div class="card-body text-left">
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, 
        nisi lorem egestas vitae scel<span id="dots1">...</span><span id="more1">erisque enim ligula venenatis dolor. Maecenas nisl est, 
        ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper 
        ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer 
        fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
</p>
<button onclick="myFunction1()" id="myBtn1">Read more</button>
<script>
          function myFunction1() {
            var dots1 = document.getElementById("dots1");
            var moreText1 = document.getElementById("more1");
            var btnText1 = document.getElementById("myBtn1");
          
            if (dots1.style.display === "none") {
              dots1.style.display = "inline";
              btnText1.innerHTML = "Read more"; 
              moreText1.style.display = "none";
            } else {
              dots1.style.display = "none";
              btnText1.innerHTML = "Read less"; 
              moreText1.style.display = "inline";
            }
          }
</script>
</div>
</div>
<div class="card bg-light">
<ul class="list-group list-group-flush">
<li class="list-group-item">To:  </li>
<li class="list-group-item">From:  </li>
</ul>
<div class="card-body text-left">
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, 
        nisi lorem egestas vitae scel<span id="dots2">...</span><span id="more2">erisque enim ligula venenatis dolor. Maecenas nisl est, 
        ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper 
        ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer 
        fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
</p>
<button onclick="myFunction2()" id="myBtn2">Read more</button>
<script>
          function myFunction2() {
            var dots2 = document.getElementById("dots2");
            var moreText2 = document.getElementById("more2");
            var btnText2 = document.getElementById("myBtn2");
          
            if (dots2.style.display === "none") {
              dots2.style.display = "inline";
              btnText2.innerHTML = "Read more"; 
              moreText2.style.display = "none";
            } else {
              dots2.style.display = "none";
              btnText2.innerHTML = "Read less"; 
              moreText2.style.display = "inline";
            }
          }
</script>
</div>
</div>
<div class="card bg-light">
<ul class="list-group list-group-flush">
<li class="list-group-item">To:  </li>
<li class="list-group-item">From:  </li>
</ul>
<div class="card-body text-left">
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, 
        nisi lorem egestas vitae scel<span id="dots3">...</span><span id="more3">erisque enim ligula venenatis dolor. Maecenas nisl est, 
        ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper 
        ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer 
        fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
</p>
<button onclick="myFunction3()" id="myBtn3">Read more</button>
<script>
          function myFunction3() {
            var dots3 = document.getElementById("dots3");
            var moreText3 = document.getElementById("more3");
            var btnText3 = document.getElementById("myBtn3");
          
            if (dots3.style.display === "none") {
              dots3.style.display = "inline";
              btnText3.innerHTML = "Read more"; 
              moreText3.style.display = "none";
            } else {
              dots3.style.display = "none";
              btnText3.innerHTML = "Read less"; 
              moreText3.style.display = "inline";
            }
          }
</script>
</div>
</div>
<div class="card bg-light">
<ul class="list-group list-group-flush">
<li class="list-group-item">To:  </li>
<li class="list-group-item">From:  </li>
</ul>
<div class="card-body text-left">
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, 
        nisi lorem egestas vitae scel<span id="dots4">...</span><span id="more4">erisque enim ligula venenatis dolor. Maecenas nisl est, 
        ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper 
        ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer 
        fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
</p>
<button onclick="myFunction4()" id="myBtn4">Read more</button>
<script>
          function myFunction4() {
            var dots4 = document.getElementById("dots4");
            var moreText4 = document.getElementById("more4");
            var btnText4 = document.getElementById("myBtn4");
          
            if (dots4.style.display === "none") {
              dots4.style.display = "inline";
              btnText4.innerHTML = "Read more"; 
              moreText4.style.display = "none";
            } else {
              dots4.style.display = "none";
              btnText4.innerHTML = "Read less"; 
              moreText4.style.display = "inline";
            }
          }
</script>
</div>
</div>
<div class="card bg-light">
<ul class="list-group list-group-flush">
<li class="list-group-item">To:  </li>
<li class="list-group-item">From:  </li>
</ul>
<div class="card-body text-left">
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, 
        nisi lorem egestas vitae scel<span id="dots5">...</span><span id="more5">erisque enim ligula venenatis dolor. Maecenas nisl est, 
        ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper 
        ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer 
        fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
</p>
<button onclick="myFunction5()" id="myBtn5">Read more</button>
<script>
          function myFunction5() {
            var dots5 = document.getElementById("dots5");
            var moreText5 = document.getElementById("more5");
            var btnText5 = document.getElementById("myBtn5");
          
            if (dots5.style.display === "none") {
              dots5.style.display = "inline";
              btnText5.innerHTML = "Read more"; 
              moreText5.style.display = "none";
            } else {
              dots5.style.display = "none";
              btnText5.innerHTML = "Read less"; 
              moreText5.style.display = "inline";
            }
          }
</script>
</div>
</div>
<div class="card bg-light">
<ul class="list-group list-group-flush">
<li class="list-group-item">To:  </li>
<li class="list-group-item">From:  </li>
</ul>
<div class="card-body text-left">
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, 
        nisi lorem egestas vitae scel<span id="dots6">...</span><span id="more6">erisque enim ligula venenatis dolor. Maecenas nisl est, 
        ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper 
        ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer 
        fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
</p>
<button onclick="myFunction6()" id="myBtn6">Read more</button>
<script>
          function myFunction6() {
            var dots6 = document.getElementById("dots6");
            var moreText6 = document.getElementById("more6");
            var btnText6 = document.getElementById("myBtn6");
          
            if (dots6.style.display === "none") {
              dots6.style.display = "inline";
              btnText6.innerHTML = "Read more"; 
              moreText6.style.display = "none";
            } else {
              dots6.style.display = "none";
              btnText6.innerHTML = "Read less"; 
              moreText6.style.display = "inline";
            }
          }
</script>
</div>
</div>
<div class="card bg-light">
<ul class="list-group list-group-flush">
<li class="list-group-item">To:  </li>
<li class="list-group-item">From:  </li>
</ul>
<div class="card-body text-left">
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, 
        nisi lorem egestas vitae scel<span id="dots7">...</span><span id="more7">erisque enim ligula venenatis dolor. Maecenas nisl est, 
        ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper 
        ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer 
        fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
</p>
<button onclick="myFunction7()" id="myBtn7">Read more</button>
<script>
          function myFunction7() {
            var dots7 = document.getElementById("dots7");
            var moreText7 = document.getElementById("more7");
            var btnText7 = document.getElementById("myBtn7");
          
            if (dots7.style.display === "none") {
              dots7.style.display = "inline";
              btnText7.innerHTML = "Read more"; 
              moreText7.style.display = "none";
            } else {
              dots7.style.display = "none";
              btnText7.innerHTML = "Read less"; 
              moreText7.style.display = "inline";
            }
          }
</script>
</div>
</div>
<div class="card bg-light">
<ul class="list-group list-group-flush">
<li class="list-group-item">To:  </li>
<li class="list-group-item">From:  </li>
</ul>
<div class="card-body text-left">
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, 
        nisi lorem egestas vitae scel<span id="dots8">...</span><span id="more8">erisque enim ligula venenatis dolor. Maecenas nisl est, 
        ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper 
        ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer 
        fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
</p>
<button onclick="myFunction8()" id="myBtn8">Read more</button>
<script>
          function myFunction8() {
            var dots8 = document.getElementById("dots8");
            var moreText8 = document.getElementById("more8");
            var btnText8 = document.getElementById("myBtn8");
          
            if (dots8.style.display === "none") {
              dots8.style.display = "inline";
              btnText8.innerHTML = "Read more"; 
              moreText8.style.display = "none";
            } else {
              dots8.style.display = "none";
              btnText8.innerHTML = "Read less"; 
              moreText8.style.display = "inline";
            }
          }
</script>
</div>
</div>
<div class="card bg-light">
<ul class="list-group list-group-flush">
<li class="list-group-item">To:  </li>
<li class="list-group-item">From:  </li>
</ul>
<div class="card-body text-left">
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, 
        nisi lorem egestas vitae scel<span id="dots9">...</span><span id="more9">erisque enim ligula venenatis dolor. Maecenas nisl est, 
        ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper 
        ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer 
        fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
</p>
<button onclick="myFunction9()" id="myBtn9">Read more</button>
<script>
          function myFunction9() {
            var dots9 = document.getElementById("dots9");
            var moreText9 = document.getElementById("more9");
            var btnText9 = document.getElementById("myBtn9");
          
            if (dots9.style.display === "none") {
              dots9.style.display = "inline";
              btnText9.innerHTML = "Read more"; 
              moreText9.style.display = "none";
            } else {
              dots9.style.display = "none";
              btnText9.innerHTML = "Read less"; 
              moreText9.style.display = "inline";
            }
          }
</script>
</div>
</div>
<div class="card bg-light">
<ul class="list-group list-group-flush">
<li class="list-group-item">To:  </li>
<li class="list-group-item">From:  </li>
</ul>
<div class="card-body text-left">
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, 
        nisi lorem egestas vitae scel<span id="dots10">...</span><span id="more10">erisque enim ligula venenatis dolor. Maecenas nisl est, 
        ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper 
        ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer 
        fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
</p>
<button onclick="myFunction10()" id="myBtn10">Read more</button>
<script>
          function myFunction10() {
            var dots10 = document.getElementById("dots10");
            var moreText10 = document.getElementById("more10");
            var btnText10 = document.getElementById("myBtn10");
          
            if (dots10.style.display === "none") {
              dots10.style.display = "inline";
              btnText10.innerHTML = "Read more"; 
              moreText10.style.display = "none";
            } else {
              dots10.style.display = "none";
              btnText10.innerHTML = "Read less"; 
              moreText10.style.display = "inline";
            }
          }
</script>
</div>
</div>
<div class="card bg-light">
<ul class="list-group list-group-flush">
<li class="list-group-item">To:  </li>
<li class="list-group-item">From:  </li>
</ul>
<div class="card-body text-left">
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, 
        nisi lorem egestas vitae scel<span id="dots11">...</span><span id="more11">erisque enim ligula venenatis dolor. Maecenas nisl est, 
        ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper 
        ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer 
        fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
</p>
<button onclick="myFunction11()" id="myBtn11">Read more</button>
<script>
          function myFunction11() {
            var dots11 = document.getElementById("dots11");
            var moreText11 = document.getElementById("more11");
            var btnText11 = document.getElementById("myBtn11");
          
            if (dots11.style.display === "none") {
              dots11.style.display = "inline";
              btnText11.innerHTML = "Read more"; 
              moreText11.style.display = "none";
            } else {
              dots11.style.display = "none";
              btnText11.innerHTML = "Read less"; 
              moreText11.style.display = "inline";
            }
          }
</script>
</div>
</div>
</div>

 

<%- include ('./form') %>
 
<%- include ('./partials/footer') %>
