
<%- include ('./partials/header') %>
<div class="covor-screen">

<div class="jumbotron">
        <div class="">
                <div class="container">
                  <h2></h2>
                  <p  font-size="16">We don't collect any sensitive data such as your name. All the letters are posted anonymously.</p>
                </div>
              </div>
</div>
</div>

 
<%- include ('./partials/footer') %>
