
<%- include ('./partials/header') %>

<div class="jumbotron covor-screen">
    <div class="container">
         
            <br>
            <br>

            <p>
                <%= Letter.content %>
            </p>
            <!-- <hr /> -->
            <div class="text-right">
                <b> <%-  Letter.date.toDateString() %></b>
            </div>
            </div>
</div>

 
<%- include ('./partials/footer') %>
