
<%- include ('./partials/header') %>

<div class="covor-screen">
    <div class="jumbotron">
        

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2></h2>
      <p  font-size="16">Made with <i class="fa fa-heart" style="font-size:20px"></i> by  <a href="https://santoshvijapure.xyz" target="blank">Santosh Vijapure</a> and <a href="http://jaydeepborkar.github.io/" target="blank">Jaydeep Borkar</a> </p>
    </div>
  </div>
                



    </div>
    
</div>

 
<%- include ('./partials/footer') %>
