
div.ex1 {
  margin-top: 45px;
  margin-left: 135px;
}

div.a {
  text-align: center;
  margin-top: 70px;
}

div.b {
  text-align: center;
  margin-top: 30px;
}

.jumbotron{
  background: #ffffff !important;
}

.covor-screen{
  min-height: 70vh;
}

/* for team cars */
.profile-card{
    
  width: 50%;
  /* min-width: 80%; */
  min-height: 80%;
  width: 250px;
}

.profile-card p{
    font-size: .8em;
}

.profile-card h3{
  margin-top: 1.2em;
} 

.row img{
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}


.social{
  margin:4px;
}
.social-icons{
  font-size: 20px;
}
.social-icons:hover{
  color: black !important;
}
.missing-country{
  margin: 10%;
}
 
.footer {
    
   width: 100%;
   background-color: #212529;
   color: white;
   text-align: center;
    padding-top: 30px;
   padding-bottom: 30px;
}

